.input:focus {
}

.input {
    width: 376px;
    height: 36px;
    margin-left: 15px;
}

.inputWrapper {
}

.superInput {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    border: 2px solid #CC1439;
}

.errorInput:focus {
    border: 2px solid #CC1439;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #CC1439;
    margin-left: 10px;
}
